<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zombie Floss" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Zombie Floss" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="jumbotron">

     <header>
        <%= render 'layouts/navigation' %>
      </header> 

        <main role="main" class="container">
          <div class="row">
            <div class="col-lg-12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
        </main>
    </div>  <!-- end jumbotron -->

      <footer class="container">
        <div class="row">
          <section class="col-lg-12">
            Creative Commons License: Share and Share Alike, no Commercial Derivatives
          </section>
        </div>
      </footer>

  </body>
</html>
